// .main {
//   padding: 2em 1em 10em;
//   display: flex;
// }

.post-body {
  margin-top: 2em !important;
}

.post-copyright {
  margin-top: 2em;
}

.updated-badge-container {
  margin-top: 2em;
}

.post-share {
  margin-top: 1rem;
}

.post-tags {
  margin-top: 2rem;
}

.menu-item-name,
.archive,
.th,
.tags,
.user-circle,
.theme-icon-light,
.theme-icon-dark,
.nav-toggle,
.nav-toggle-inner,
.search,
.search-input,
.icon.search-icon {
  color: white;
}

.nav-curtain {
  display: none !important;
}

#lang-switcher span{
    color: white;
}

#lang-switcher a{
    color: white;
}